<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="votes" id="votes" [(ngModel)]="votes" (ngModelChange)="onSelect($event)" value="votes">
        <label for="votes">Ordenar por votos</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of popularItem" style="width: 22rem;">
      <app-movie-item [id]="item.id" [title]="item.title" [poster_path]="item.poster_path"></app-movie-item>
    </div>
  </div>
</div>
